.access-right {
  text-align: center;
  overflow: hidden;
  margin-top: 140px;
  margin: 150px auto 0;
  max-width: 592px; }
  .access-right .access-right-leftimg {
    float: left; }
  .access-right .access-right-rightbox {
    float: left;
    margin-left: 50px;
    text-align: left;
    margin-top: 50px; }
    .access-right .access-right-rightbox p {
      text-align: left;
      font-size: 20px;
      color: #aeaeae;
      margin-bottom: 20px !important; }
  .access-right .access-right-bottom {
    margin-top: 10px;
    border-top: 2px dotted #ddd; }

/*** Parameters ***/

.dialog-form-container .inline {
  width: calc(100% - 64px); }

.dialog-form-container .flyer-form {
  margin-right: 0; }

.dialog-form-container .dialog-form-item {
  margin-bottom: 14px;
  width: 100%;
  display: inline-block;
  height: 38px; }
  .dialog-form-container .dialog-form-item label {
    float: left;
    height: 38px;
    line-height: 38px;
    width: 56px;
    text-align: right;
    margin-right: 8px; }

.dialog-form-container .dialog-form-item:last-child {
  margin-bottom: 0; }

.flyer-dialog-footer button:last-child {
  color: #333 !important;
  background-color: #fff !important;
  border-color: #ccc !important; }

.flyer-dialog-footer button:first-child {
  background-color: #2cc3a9 !important;
  border-color: #2cc3a9 !important;
  color: #fff !important; }

.flyer-dialog .flyer-dialog-footer {
  border-top: 1px solid #eee; }

.flyer-dialog .flyer-dialog-title {
  color: #2cc3a9;
  font-size: 16px; }

.home-account-info {
  border: 1px solid #eee; }

/*** Parameters ***/
body {
  color: #333;
  font-family: Arial, Console, Verdana, Courier New; }

.flyer-layout-aside {
  position: fixed; }
  .flyer-layout-aside .flyer-layout-tree {
    width: 180px;
    overflow-y: auto;
    padding: 5px 0 20px;
    border-right: 1px solid #eee;
    margin-top: 100px;
    background-color: #f6f9fa; }
  .flyer-layout-aside .flyer-layout-title {
    line-height: 36px;
    margin: 5px 0 5px;
    padding: 0 15px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 15px;
    font-weight: bold; }
    .flyer-layout-aside .flyer-layout-title [class^="icon-"],
    .flyer-layout-aside .flyer-layout-title .fa {
      margin-right: 10px;
      width: 18px;
      text-align: center;
      display: inline-block;
      color: #666;
      font-size: 15px; }
  .flyer-layout-aside .flyer-layout-link {
    display: inline-block;
    vertical-align: top;
    height: 48px;
    cursor: pointer;
    font-size: 14px;
    padding-left: 20px;
    line-height: 48px;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    position: relative; }
    .flyer-layout-aside .flyer-layout-link [class^="icon-"],
    .flyer-layout-aside .flyer-layout-link .fa {
      font-size: 14px;
      margin-right: 8px;
      width: 18px;
      text-align: center;
      color: #666;
      float: left;
      height: 48px;
      line-height: 48px; }
    .flyer-layout-aside .flyer-layout-link:hover {
      color: #2cc3a9; }
      .flyer-layout-aside .flyer-layout-link:hover [class^="icon-"],
      .flyer-layout-aside .flyer-layout-link:hover .fa {
        color: #2cc3a9; }
    .flyer-layout-aside .flyer-layout-link span {
      font-size: 12px;
      color: #fff;
      padding-left: 0;
      margin-left: 2px;
      display: inline-block;
      padding: 0 6px;
      height: 18px;
      background-color: #2cc3a9;
      line-height: 18px;
      text-align: center;
      border-radius: 10px;
      margin-top: 6px;
      left: 136px;
      position: absolute; }
    .flyer-layout-aside .flyer-layout-link label {
      cursor: pointer;
      width: 90px;
      overflow: hidden;
      margin-left: 24px; }
  .flyer-layout-aside .flyer-layout-linkActive {
    color: #2cc3a9; }
    .flyer-layout-aside .flyer-layout-linkActive [class^="icon-"],
    .flyer-layout-aside .flyer-layout-linkActive .fa {
      color: #2cc3a9; }
  .flyer-layout-aside .flyer-layout:after {
    content: "";
    clear: both; }

header {
  font-size: 16px;
  color: #a6b0b7;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 20;
  background: #23292d; }
  header .logo-link {
    display: inline-block;
    height: 50px;
    width: 180px;
    min-height: 50px;
    min-width: 180px;
    background: #2cc3a9;
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height: 47px;
    font-size: 28px;
    font-family: Hannotate SC; }
    header .logo-link img {
      position: relative;
      top: -6px; }
  header .nav-link {
    display: inline-block;
    overflow: hidden;
    height: 50px;
    line-height: 50px; }
    header .nav-link li {
      float: left;
      height: 50px;
      text-align: center;
      width: 81px; }
      header .nav-link li span {
        border-right: 1px solid #3e454a;
        padding: 0 24px; }
        header .nav-link li span:hover {
          color: #fff; }
  header .login {
    height: 50px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    float: right;
    margin-right: 20px;
    cursor: pointer; }

.nav-top {
  height: 34px;
  background: #41484c;
  padding-left: 20px;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 10; }
  .nav-top span {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #b8c3c9;
    padding: 0 3px; }
  .nav-top span + span:before {
    padding: 0 3px;
    color: #a6b0b7;
    content: ">\00a0"; }

footer {
  width: 100%;
  clear: both;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 8;
  height: 30px;
  background: #f6f9fa;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  font-family: Microsoft YaHei;
  border-top: 1px solid #eee; }
  footer .footer-brand {
    margin-right: 8px;
    cursor: pointer; }
  footer .footer-brand:nth-child(2) {
    color: #2cc3a9; }
  footer .no-margin {
    display: inline-block;
    margin-right: 20px; }

section.flyer-layout-content {
  margin-left: 180px;
  padding: 10px;
  box-sizing: border-box;
  padding-top: 94px;
  padding-bottom: 40px;
  overflow: hidden;
  min-height: 400px; }
  section.flyer-layout-content .btn-container {
    height: 32px;
    line-height: 32px;
    clear: both; }
    section.flyer-layout-content .btn-container button {
      margin-right: 10px;
      float: left; }
      section.flyer-layout-content .btn-container button:last-child {
        margin-right: 0; }
    section.flyer-layout-content .btn-container .paper-container {
      height: 26px;
      float: right; }
    section.flyer-layout-content .btn-container .pager-size-container {
      float: right;
      width: 152px;
      margin-top: 6px;
      margin-right: 12px;
      color: #666; }
      section.flyer-layout-content .btn-container .pager-size-container .flyer-combobox-contents {
        line-height: 24px !important;
        height: 24px !important;
        width: 122px !important;
        border: 1px solid #dcdcdc; }
        section.flyer-layout-content .btn-container .pager-size-container .flyer-combobox-contents input.filter-options {
          line-height: 24px;
          height: 24px;
          color: #666; }
        section.flyer-layout-content .btn-container .pager-size-container .flyer-combobox-contents i.fa-angle-down {
          line-height: 24px;
          height: 24px; }
        section.flyer-layout-content .btn-container .pager-size-container .flyer-combobox-contents i.fa-angle-up {
          line-height: 24px;
          height: 24px; }
    section.flyer-layout-content .btn-container .flyer-pager-wrapper {
      top: 0; }
    section.flyer-layout-content .btn-container:after {
      content: "";
      clear: both;
      display: block; }
    section.flyer-layout-content .btn-container .flyer-keyword-input {
      display: inline-block; }
    section.flyer-layout-content .btn-container .flyer-btn-group {
      display: inline-block;
      position: relative;
      margin-left: 7px; }
      section.flyer-layout-content .btn-container .flyer-btn-group .flyer-btn-group-content {
        display: none;
        position: absolute;
        min-width: 99px;
        border: 1px solid #ccc;
        border-bottom: none;
        top: 30px;
        background: #fff; }
        section.flyer-layout-content .btn-container .flyer-btn-group .flyer-btn-group-content li {
          padding: 0 12px;
          border-bottom: 1px solid #ccc;
          border-collapse: collapse;
          color: #666; }
          section.flyer-layout-content .btn-container .flyer-btn-group .flyer-btn-group-content li:hover {
            background: #2cc3a9;
            color: #fff;
            cursor: pointer; }
  section.flyer-layout-content:after {
    content: "";
    clear: both;
    display: block; }
  section.flyer-layout-content .product-comtainer .flyer-upload {
    float: left;
    margin-right: 10px; }

section.flyer-layout-content.big-content {
  margin-left: 58px; }

.flyer-pager-view ul li {
  line-height: 24px;
  height: 24px;
  width: 30px;
  padding: 0;
  color: #666; }

.flyer-input-block {
  margin-right: 0;
  padding-left: 66px; }

.flyer-btn {
  margin-right: 10px; }
  .flyer-btn i {
    color: #666; }

.flyer-table table {
  margin: 0 !important; }

.table-container {
  margin: 10px 0; }

label.flyer-form-label {
  width: 56px;
  padding: 9px 0;
  font-size: 14px; }

.flyer-form .flyer-input-block {
  padding-left: 66px; }

.flyer-checkbox-tick input[type=checkbox] {
  display: none; }

.flyer-checkbox-tick i {
  padding-left: 20px;
  position: relative;
  height: 18px;
  line-height: 18px; }

.flyer-checkbox-tick input[type="checkbox"]:checked + i:after {
  content: "\2714";
  border: none;
  background: #2cc3a9;
  color: #fff; }

.flyer-checkbox-tick i:after {
  content: "";
  left: 0px;
  top: 0;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  z-index: 1;
  transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46), background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
  line-height: 16px;
  text-align: center; }

header .login {
  color: #b8c3c9;
  font-size: 14px;
  min-width: 240px;
  display: inline-block;
  text-align: right; }

header .login a {
  padding-left: 20px;
  margin-left: 20px;
  display: inline-block;
  font-size: 17px;
  border-left: 1px solid #010101;
  height: 50px;
  line-height: 50px; }

header .login a i {
  line-height: 50px;
  display: inline-block; }

header .login a:hover {
  color: #2cc3a9; }

header .login {
  cursor: inherit; }

.flyer-form .flyer-btn,
.flyer-form .flyer-input,
.flyer-form .flyer-select,
.flyer-form .flyer-textarea {
  cursor: inherit !important; }

.flyer-btn.flyer-btn-default,
.flyer-form .flyer-input,
.flyer-form .flyer-select,
.flyer-form .flyer-textarea {
  cursor: inherit !important;
  color: #666; }

.flyer-table table th {
  font-weight: bold;
  border-top: 1px solid #dddddd !important; }

.flyer-table table thead {
  background-color: #fff; }

.flyer-edit-content {
  height: 450px; }

.flyer-edit-write {
  min-height: 100px; }

.flyer-write-title {
  font-size: 14px;
  border-top: 1px dashed #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #888;
  margin-top: 20px; }

.flyer-write-html {
  margin-left: 10px;
  line-height: 24px;
  border-left: 1px solid #ccc;
  padding-left: 10px;
  color: #888; }

.flyer-btn-blue {
  background: #2cc3a9;
  border: 1px solid #2cc3a9;
  color: #fff; }

.flyer-layout-content .btn-container:nth-child(1) .paper-container,
.flyer-layout-content .paper-container.first {
  margin-top: 6px; }

.flyer-table table td,
.flyer-table table th {
  padding: 6px 10px;
  border: 0px;
  border-bottom: 1px solid #dddddd;
  text-align: left; }

.flyer-table table td {
  height: 34px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666;
  font-size: 13px; }

.flyer-table table tr {
  cursor: pointer; }

.flyer-table table tr td:first-child {
  overflow: inherit; }

table span.hoverCur {
  max-width: 124px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 16px;
  float: left; }

table .exchange .fa {
  font-size: 12px;
  margin: 0 4px;
  color: #2cc3a9;
  width: 14px;
  float: left; }

table .span.exchange .rightIcon {
  float: right;
  margin: 2px 2px;
  cursor: pointer;
  color: #666; }

table .hoverCur {
  cursor: pointer; }

table tbody tr td:nth-child(2) {
  position: relative; }

table span {
  cursor: pointer;
  height: 16px !important;
  color: #666; }

table td {
  color: #666; }

.flyer-layout-previewTitle {
  margin-bottom: 12px;
  font-size: 12px;
  color: #666; }
  .flyer-layout-previewTitle .flyer-layout-blod {
    font-size: 15px;
    color: #2cc3a9;
    margin-right: 6px; }
  .flyer-layout-previewTitle .flyer-layout-allNum {
    display: inline-block;
    color: #333;
    margin: 0 2px; }

.flyer-combobox-items > ul > li > div:hover,
.hover {
  background-color: #2cc3a9;
  color: #fff; }

flyer-form .flyer-input:hover flyer-form .flyer-input:focus {
  border: 1px solid #2cc3a9 !important; }

.flyer-form .flyer-input:hover,
.flyer-form .flyer-textarea:hover,
.flyer-form .flyer-edit:hover,
.flyer-form .flyer-combobox-contents:hover {
  border-color: #2cc3a9 !important; }

.flyer-form .flyer-input:focus,
.flyer-form .flyer-select:focus,
.flyer-form .flyer-textarea:focus {
  border: 1px solid #2cc3a9 !important; }

.flyer-table table .empty_title td {
  text-align: center; }

.flyer-table tbody tr:hover {
  background-color: #f6f9fa !important; }

.flyer-combobox-items li.selected:after {
  background-color: #2cc3a9 !important; }

.flyer-table-checkbox i:after {
  top: -2px !important; }

.flyer-dialog-footer button:last-child {
  color: #333 !important;
  background-color: #fff !important;
  border-color: #ccc !important; }

.flyer-dialog-footer button:first-child {
  background-color: #2cc3a9 !important;
  border-color: #2cc3a9 !important;
  color: #fff !important; }

.flyer-combobox-items {
  max-height: 200px;
  overflow-y: auto;
  box-sizing: border-box;
  overflow-x: hidden;
  margin-top: -1px; }
  .flyer-combobox-items.open {
    border: 1px solid #dedede; }

.flyer-combobox-items > ul {
  border: none;
  overflow: initial;
  font-size: 14px;
  max-height: inherit; }

tr.empty_container td {
  text-align: center; }

input:-webkit-autofill {
  -webkit-text-fill-color: inherit !important; }

.loading-backgroud {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  left: 0px;
  top: 0px; }
  .loading-backgroud i {
    color: #2cc3a9; }

.slide-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }
  .slide-container li {
    width: 94%;
    height: 100%;
    padding: 28px;
    position: absolute;
    padding-top: 0px;
    z-index: 1;
    display: none; }
    .slide-container li img {
      display: inline-block;
      width: 100%;
      height: 100%;
      border: none; }
  .slide-container .prev,
  .slide-container .next {
    width: 28px;
    height: 40px;
    position: absolute;
    top: 42%;
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
    color: #2cc3a9;
    z-index: 20; }
  .slide-container .prev {
    left: 0px; }
  .slide-container .next {
    right: 0px; }
  .slide-container .prev.disabled,
  .slide-container .next.disabled {
    color: #666;
    opacity: 0.8;
    cursor: inherit; }
  .slide-container .guid-content {
    text-align: center;
    height: 32px;
    line-height: 32px;
    font-size: 14px; }
  .slide-container .circle-container {
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 30; }
    .slide-container .circle-container span {
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: 1px solid #ddd; }

.version-icon {
  cursor: pointer;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: relative; }
  .version-icon .version-update {
    position: absolute; }
    .version-icon .version-update:after {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #f27068;
      display: block;
      margin-left: 33px;
      margin-top: -6px; }

aside {
  position: fixed;
  left: 0;
  top: 0; }

div.mutiple-select {
  float: left;
  position: relative;
  bottom: 0px;
  padding: 0px;
  margin-right: 10px; }

.btn-container .flyer-combobox-contents {
  width: 68px !important; }

.flyer-btn.mutiple-select:hover {
  opacity: 1 !important; }

.btn-container .flyer-combobox-contents,
.btn-container .flyer-combobox-contents .filter-options,
.btn-container .flyer-combobox-contents i.fa {
  line-height: 29px;
  height: 29px; }

.flyer-onswitch {
  cursor: pointer;
  position: relative;
  display: inline-block; }
  .flyer-onswitch input[type="checkbox"] {
    display: none; }
    .flyer-onswitch input[type="checkbox"] + i {
      position: relative;
      background-color: #ccc;
      height: 19px;
      min-width: 40px;
      bottom: 0px;
      border-radius: 10px;
      display: inline-block;
      transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
      top: 5px; }
      .flyer-onswitch input[type="checkbox"] + i:after {
        content: "";
        position: absolute;
        background-color: #fafafa;
        height: 17px;
        width: 18px;
        border-radius: 8px;
        left: 1px;
        top: 1px;
        transition: .4s; }
  .flyer-onswitch input[type="checkbox"]:checked + i {
    background-color: #2cc3a9 !important; }
    .flyer-onswitch input[type="checkbox"]:checked + i:after {
      content: "";
      position: absolute;
      background-color: #fafafa;
      right: 1px !important;
      top: 1px;
      left: inherit !important; }
  .flyer-onswitch span:first-child {
    float: left;
    color: #fff;
    margin-left: 4px;
    margin-right: 2px;
    line-height: 19px; }
  .flyer-onswitch span:last-child {
    float: right;
    color: #fff;
    margin-right: 4px;
    margin-left: 2px;
    line-height: 19px; }

.flyer-input {
  height: 30px;
  line-height: 30px;
  line-height: 30px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 2px;
  padding-left: 10px;
  outline: none; }
  .flyer-input:hover {
    border-color: #2cc3a9 !important; }
  .flyer-input:focus {
    border: 1px solid #2cc3a9 !important; }

li.flyer-tab-active {
  color: #2cc3a9; }

.flyer-combobox-items > ul > li div {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

div#original-content {
  word-wrap: break-word; }

.not_link a.flyer-layout-link {
  padding-left: 0px; }

.flyer-form .flyer-radio input[type=radio]:checked + i:after {
  background: #2cc3a9; }

.flyer-form .flyer-radio input[type=radio]:checked + i {
  border: 1px solid #2cc3a9; }

.flyer-combobox-items {
  z-index: 5 !important; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

div.mutiple-select,
section.flyer-layout-content .btn-container button {
  height: 32px;
  box-sizing: border-box; }

[class^="icon-"],
[class*=" icon-"] {
  font-size: 16px; }

.flyer-form-item .flyer-input {
  font-size: 14px !important; }

.flyer-table [class^="icon-"] {
  font-size: 14px; }

#bodyTable tbody,
#bodyTable table,
#bodyTable tbody tr,
td#bodyCell {
  width: 100% !important; }

center.wrapper,
center.wrapper .webkit {
  overflow: hidden; }

#bodyTable * {
  max-width: 600px !important;
  word-wrap: break-word; }

.flyer-combobox-items > ul > li div {
  padding-right: 20px; }

.flyer-combobox-items li.selected:after {
  top: 10px; }

.select-tick .flyer-combobox-items li.selected:after {
  background-color: transparent !important;
  color: #2cc3a9 !important; }

.select-tick .flyer-combobox-items li.selected:after {
  content: "\2714";
  width: inherit;
  height: inherit;
  border-radius: 0;
  background-color: transparent !important;
  right: 3px;
  font-size: 15px;
  top: 4px;
  color: #fff; }

.nav-top span.group-name {
  color: #2cc3a9; }

ul.myFolderUl {
  max-height: 100px;
  overflow-y: auto; }

.flyer-date {
  z-index: 99999; }

.flyer-tab-content {
  min-height: 550px; }

.flyer-combobox-contents {
  bottom: 0px !important; }

.flyer-combobox-contents i.fa {
  right: 1px; }

.flyer-combobox-contents .filter-options {
  border: 0; }

.flyer-btn.mutiple-select {
  border: none; }

.flyer-combobox-contents {
  height: 30px !important; }

.flyer-layout-sendEmail .emailBox .flyer-combobox-contents {
  height: 36px !important; }

span.top-untreated-num {
  margin-left: 6px;
  padding: 0 6px;
  height: 22px;
  line-height: 22px;
  background: #2cc3a9;
  border-radius: 12px;
  display: inline-block;
  color: #fff; }

span.top-untreated {
  padding-right: 20px;
  display: inline-block;
  cursor: pointer; }
  span.top-untreated:hover {
    color: #2cc3a9; }

.flyer-layout-aside .flyer-layout-tree {
  margin-top: 84px;
  background-color: #f6f9fa;
  color: #666;
  padding-top: 53px; }
  .flyer-layout-aside .flyer-layout-tree i {
    color: #666; }

p.tree-shrink {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 84px;
  width: 180px;
  text-align: center;
  color: #666;
  border-bottom: 1px solid #eee;
  height: 48px;
  line-height: 48px;
  background: #f6f9fa;
  cursor: pointer; }
  p.tree-shrink i.fa.fa-bars {
    color: #b6c1c7;
    font-size: 14px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg); }

p.tree-shrink.transform-shrink {
  width: 58px; }
  p.tree-shrink.transform-shrink i.fa.fa-bars {
    font-size: 14px;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg); }

.flyer-layout-tree.small-tree {
  width: 58px; }
  .flyer-layout-tree.small-tree .flyer-layout-link {
    overflow: hidden; }
    .flyer-layout-tree.small-tree .flyer-layout-link [class^="icon-"] {
      margin-right: 20px; }

body.bg {
  background: #f5faf9 !important; }

.flyer-email-recored {
  display: none;
  position: relative; }

.flyer-preview {
  display: inline-block;
  width: 100%;
  height: 99%; }

.flyer-edit {
  border: 1px solid #eee !important; }

.flyer-combobox-items > ul > li {
  color: #666; }

span#nomatch {
  color: #666; }

.btn-right {
  float: right; }

.flyer-checkbox-radio {
  cursor: pointer;
  padding-right: 26px;
  display: inline-block; }
  .flyer-checkbox-radio input[type="radio"] {
    display: none; }
  .flyer-checkbox-radio input[type="radio"] + i {
    display: inline-block;
    padding: 0 6px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    background-color: #d2d2d2;
    color: #fff;
    position: relative; }
  .flyer-checkbox-radio input[type="radio"]:checked + i {
    background-color: #2cc3a9;
    transition: .1s; }
  .flyer-checkbox-radio input[type="radio"] + i:after {
    content: "\2714";
    position: absolute;
    right: -24px;
    width: 24px;
    height: 28px;
    color: #d2d2d2;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #d2d2d2; }
  .flyer-checkbox-radio input[type="radio"]:checked + i:after {
    color: #2cc3a9;
    border: 1px solid #2cc3a9;
    transition: .1s; }

textarea.flyer-input {
  font-family: Arial, Console, Verdana, Courier New !important; }

.flyer-pager-view .active {
  color: #2cc3a9; }

.flyer-tab-ul .tab-bubble {
  font-size: 12px;
  color: #fff;
  padding-left: 0;
  margin-left: 5px;
  display: inline-block;
  padding: 0 6px;
  height: 18px;
  background-color: #2cc3a9;
  line-height: 18px;
  text-align: center;
  border-radius: 10px;
  margin-left: 14px;
  margin-top: 6px; }

.dialog-form-container div.mutiple-select {
  padding-left: 10px; }

.task-detail-container {
  padding: 24px 0;
  border: 3px #eee dotted;
  margin: 16px 0 8px;
  border-left: none;
  border-right: none; }

.task-add-container {
  padding: 24px 0; }

/*** Parameters ***/
#filesTable {
  margin-top: 10px; }
  #filesTable i {
    color: #666; }
    #filesTable i:hover {
      color: #2cc3a9; }
  #filesTable .delect-file-btn {
    float: right;
    font-size: 13px;
    margin-top: 2px; }
