.flyer-layout-accountMan{
    .flyer-account-input{
        width: 360px;
    }
    .flyer-account-search{
        position: relative;
        top: 3px;
        right: 28px;
        i{
            color: #888;
            cursor: pointer;
        }
        i:focus{
            color: #2cc3a9;
            cursor: pointer;
        }
    }
}