@import "base";
.add-folder{
    label.flyer-form-label {
        width: 46px;
        margin-right: 10px;
        padding: 0;
        height: 32px;
        line-height: 32px;
    }
    .flyer-input-block {
        padding-left: 46px;
    }
    .flyer-input{
        width: 292px;
    }
}