
@import "base";
.frame-insert-content{
    .flyer-frame-footBtn{
        overflow: hidden;
        .right{
            float: right;
            .flyer-btn:last-child{
                margin-right: 0;
            }
        }
    }
}