@import "base";
.flyer-form.flyer-form-searchBox{
    margin-right: 28px;
    display: block;
}
.searchForm{
    float: right;
    width: 220px;
    height: 36px;
    line-height: 36px;
    margin-top: 2.5px;
    .flyer-form-item{
        margin-bottom: 0;
        .flyer-input-inline{
            width: 100%;
            margin-right: 0;
            position: relative;
        }
    }
    input#searchEamilByKeywordInp {
        opacity: 0.8;
        color: #888!important;
        height: 26px;
        margin-top: 2px;
        caret-color: $green;
        &:focus {
            opacity: 1; 
        }
        &:focus + i{
             color:$green;  
        }
    }
    .icon-search{
        color: #888;
        font-size: 16px;
        float: right;
        top: 8px;
        position: absolute;
        right: 6px;
        cursor: pointer;
    }
}


.flyer-dialog-msgSuccess {
    background-color:  #2cc3a9;
    border: 1px solid #2cc3a9;
    color: #fff;
    max-width: inherit;
    right: 0px;
    left: 0px;
    top: 0px;
  }
  @media screen and (max-width:500px) {
      .searchForm{
          display: none!important;
          opacity: 0;
      }
  }