@import "base";
.public-butModal{
    input,
    .flyer-combobox-contents{
        height: 32px!important;
        line-height: 32px!important;
        box-sizing: border-box;
        
    }
    .flyer-combobox-contents .filter-options{
        width: 326px;
        height: 30px!important;
        float: left;
    }
    .flyer-combobox-contents i.fa {
        height: 29px;
        line-height: 29px;
    }
    .flyer-form-item {
        min-height: 32px;
        height: 32px;
        line-height: 32px;
    }
    .public-butModal-search{
        display: inline-block;
        i{
            position: absolute;
            right: 6px;
            top: 8px;
            color: #666;
         }
    }
    .public-butModal-endTime,
    .public-butModal-startTime{
        width: 346px;       
        float: left;
        margin-left:10px;
    }
    .public-butModal-datepicker{
        float: left;
        width: 216px;
    }
    .flyer-form {
        margin-right: 0;
    }
    .flyer-form .flyer-input-inline {
        width: 83%;
        margin-left: 15%
    } 
    div.mutiple-select {
        float: left;
        position: relative;
        bottom: 0px;
        padding: 0px;
        margin-right: 0;
        padding-left: 10px;
        box-sizing: border-box;
        width: 356px;
    }
    .public-butModal-inputBox{
        margin-bottom: 14px;
        width: 100%;
        display: inline-block;
        height: 34PX;
        label{
            float: left;
            height: 32px;
            line-height: 32px;
            width: 56px;
            text-align: right;
        }
        span.datepicker-spilt{
            float:left;
            position:relative;
            top:5px;
        }
    }
    input.flyer-input.i18n{
        margin-left: 10px;
        display: inline-block;
        box-sizing: border-box;
    }
}
.advanced-search-pop{
    input.flyer-input.i18n{
        width: 346px!important;
    }
    div.customer-service-select{
        width: 346px!important;
    }
    input.customer-search-keyword{
        width: 346px!important;
    }
    div.mutiple-select {
        width: 356px;
    }
}