@import "base";
.flyer-sensitive-contant{
min-height: 300px;
    .flyer-form {
        margin-right: 0!important;
    }
    label.flyer-form-label {
        width: 38px;
        padding: 0;
        height: 31px;
        line-height: 31px;
    }
    .flyer-combobox-contents i.fa ,
    .flyer-combobox-contents .filter-options,
    .flyer-combobox-contents,
    .flyer-form .flyer-input{
        height: 30px;
        line-height: 30px;
     }
     .flyer-form .flyer-input{
        border: 1px solid #dedede;
        height: 31px;
        line-height: 31px;
     }
}
#showResult span:first-child{
    font-size: 15px;
    display: inline-block;
}
.flyer-form-sensitive.flyer-form{
     .flyer-input {
        width: 300px;
        display: inline-block;
        height: 32px;
        margin-right: 10px;
        line-height: 32px;
    }
    .flyer-input-block {
        padding-left: 0;
    }
}
.flyer-search-result{
    height: 32px;
    line-height: 32px;
    margin-bottom: 16px;
}
.flyer-sensitive-tips{
    padding-top: 0px;
    .flyer-sensitive-tip{
        min-width: 40px;
        float: left;
        padding: 25px 14px;
        font-size: 14px;
        line-height: 20px;
        color: #666;
        border: 1px solid #ddd;
        position: relative;
        margin-right: 16px;
        margin-bottom: 16px;
        border-radius: 2px;
        i{
            position: absolute;
            top:0;
            display: none;
            color: #666;
            &.fa-pencil{
                right:22px;
            }
            &.fa-times-circle{
                right:4px;
            }
        }
        &:hover{
            border:1px solid $green;
            i{
                display: inline-block;
                cursor: pointer;
                color: #666;
                &:hover{
                    color:$green;
                 }
            }
        }
        p{
         cursor: pointer;
         margin: 0;
         width: inherit;
         text-align: center;
        }
    }  
    .flyer-sensitive-tip.flyer-click{
        background: $green;
        color: #fff;
         i:hover{
            color:#fff!important;
         }
    }
    #add{
        border:1px dashed $green;
        cursor: pointer;
        height: 72px;
        width: 72px;
        /*padding: 0 14px;*/
        box-sizing: border-box;
        padding-top:0;
        padding-bottom: 0; 
        &:hover{
            background: #fff;
            border:1px solid $green;
        }
        i{
            color: $green;
            right: 16px;
            top: 15px;
            font-size: 36px;
            display: inline-block;
        }
    } 
}
#typeContainer .flyer-combobox-items{
 max-height: 120px;
}
.flyer-sensitive-no{
    border: 1.5px dashed #dedede;
    width: 80%;
    padding: 240px 0;
    color: #666;
    font-size: 16px;
    text-align: center;
    border-radius: 2px;
    div{
        display: inline-block;
        font-size: 48px;
        color: $green;
        cursor: pointer;
        margin-bottom: 6px;
        i{
            font-size: 42px;
        }
    }
    div:first-child{
        margin-right: 64px;
    }
}
.flyer-sensitive-contant {
    #showResult{
        margin-bottom: 16px;
    }
    .flyer-form-item {
        width: 55%;
        padding-left:36px; 
        position: relative;
        box-sizing: border-box;
        margin-right: 6px;
        margin-bottom: 6px;
        min-width: 400px;
        max-width: 600px;
        label{
            position: absolute;
            left: 0;
        }
        .flyer-input-inline{
            width: 100%;
        }
    }
}
