.dialog-form-container {
    .inline {
        width: calc(100% - 64px);
    }
    .flyer-form {
        margin-right: 0;
    }
    .dialog-form-item {
        margin-bottom: 14px;
        width: 100%;
        display: inline-block;
        height: 38px;
        label {
            float: left;
            height: 38px;
            line-height: 38px;
            width: 56px;
            text-align: right;
            margin-right: 8px;
        }
    }
    .dialog-form-item:last-child {
        margin-bottom: 0;
    }
}

.flyer-dialog-footer button:last-child {
    color: #333!important;
    background-color: #fff!important;
    border-color: #ccc!important;
}

.flyer-dialog-footer button:first-child {
    background-color: #2cc3a9!important;
    border-color: #2cc3a9!important;
    color: #fff!important;
}

.flyer-dialog .flyer-dialog-footer {
    border-top: 1px solid #eee;
}

.flyer-dialog .flyer-dialog-title {
    color: #2cc3a9;
    font-size: 16px;
}