@import "base";
body {
    color: #333;
    font-family: Arial, Console, Verdana, Courier New;
}

.flyer-layout-aside {
    position: fixed;
    .flyer-layout {
        &-tree {
            width: $bar-width;
            min-height: 900px;
            padding: 5px 0 20px;
            border-right: 1px solid #eee;
            margin-top: 100px;
            background-color: $greenHover;
        }
        &-title {
            line-height: 36px;
            margin: 5px 0 5px;
            padding: 0 15px;
            border-bottom: 1px solid #f2f2f2;
            font-size: 15px;
            font-weight: bold;
            [class^="icon-"],
            .fa {
                margin-right: 10px;
                width: 18px;
                text-align: center;
                display: inline-block;
                color: #666;
                font-size: 15px;
            }
        }
        &-link {
            display: inline-block;
            vertical-align: top;
            height: 30px;
            cursor: pointer;
            font-size: 14px;
            padding-left: 20px;
            line-height: 30px;
            width: 100%;
            box-sizing: border-box;
            user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            position: relative;
            [class^="icon-"],
            .fa {
                font-size: 14px;
                margin-right: 8px;
                width: 18px;
                text-align: center;
                display: inline-block;
                color: #666;
                float: left;
                display: inline-block;
                height: 30px;
                line-height: 30px;
            }
            &:hover {
                color: $green;
                [class^="icon-"],
                .fa {
                    color: $green;
                }
            }
            span {
                font-size: $font-size-small;
                color: #fff;
                padding-left: 0;
                margin-left: 2px;
                display: inline-block;
                padding: 0 6px;
                height: 18px;
                background-color: #2cc3a9;
                line-height: 18px;
                text-align: center;
                border-radius: 10px;
                margin-top: 6px;
                left: 136px;
                position: absolute;
            }
            label {
                cursor: pointer;
                width: 90px;
                overflow: hidden;
                float: left;
                line-height: 30px;
                height: 30px;
            }
        }
        &-linkActive {
            color: $green;
            [class^="icon-"],
            .fa {
                color: $green;
            }
        }
        &:after {
            content: "";
            clear: both;
        }
    }
}

@mixin nav-font {
    font-size: 16px;
    color: #a6b0b7;
}

@mixin nav-size {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 20;
}

@mixin nav-li-size {
    height: 50px;
    text-align: center;
    width: 81px;
}

@mixin login {
    height: 50px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

header {
    @include nav-font;
    @include nav-size;
    background: $nav-background;
    .logo-link {
        display: $inlineB;
        height: 50px;
        width: 160px;
        min-height: 50px;
        min-width: 160px;
        background: $green;
        float: left;
        img {
            position: relative;
            top: -6px;
        }
    }
    .nav-link {
        display: $inlineB;
        overflow: $overflowH;
        height: 50px;
        line-height: 50px;
        li {
            float: $float-left;
            @include nav-li-size;
            span {
                border-right: 1px solid #3e454a;
                padding: 0 24px;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    .login {
        @include login;
    }
}

.nav-top {
    height: 34px;
    background: #41484c;
    padding-left: 20px;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 10;
    span {
        display: $inlineB;
        height: 34px;
        line-height: 34px;
        font-size: $font-common;
        color: #b8c3c9;
        padding: 0 3px;
    }
    & span+span:before {
        padding: 0 3px;
        color: #a6b0b7;
        content: ">\00a0";
    }
}

footer {
    width: 100%;
    clear: both;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 8;
    height: $footer-height;
    background: #f6f9fa;
    line-height: 30px;
    text-align: right;
    font-size: $font-common;
    font-family: $font-footer;
    border-top: 1px solid #eee;
    .footer-brand {
        margin-right: 8px;
        cursor: pointer;
    }
    .footer-brand:nth-child(2) {
        color: $green;
    }
    .no-margin {
        display: inline-block;
        margin-right: 20px;
    }
}

section.flyer-layout-content {
    margin-left: 180px;
    padding: 10px;
    box-sizing: border-box;
    padding-top: 94px;
    padding-bottom: 40px;
    overflow: hidden;
    min-height: 400px;
    .btn-container {
        height: 32px;
        line-height: 32px;
        clear: both;
        button {
            margin-right: 10px;
            float: left;
            &:last-child {
                margin-right: 0;
            }
        }
        .paper-container {
            height: 26px;
            float: right;
        }
        .pager-size-container {
            float: right;
            width: 152px;
            margin-top: 6px;
            margin-right: 12px;
            color: #666;
            .flyer-combobox-contents {
                line-height: 24px!important;
                height: 24px!important;
                width: 122px!important;
                border: 1px solid #dcdcdc;
                input.filter-options {
                    line-height: 24px;
                    height: 24px;
                    color: #666;
                }
                i.fa-angle-down {
                    line-height: 24px;
                    height: 24px;
                }
                i.fa-angle-up {
                    line-height: 24px;
                    height: 24px;
                }
            }
            // display: none;
        }
        .flyer-pager-wrapper {
            top: 0;
        }
        &:after {
            content: "";
            clear: both;
            display: block;
        }
        .flyer-keyword-input {
            display: inline-block;
        }
        .flyer-btn-group {
            display: inline-block;
            position: relative;
            margin-left: 7px;
            .flyer-btn-group-content {
                display: none;
                position: absolute;
                min-width: 99px;
                border: 1px solid #ccc;
                border-bottom: none;
                top: 30px;
                background: #fff;
                li {
                    padding: 0 12px;
                    border-bottom: 1px solid #ccc;
                    border-collapse: collapse;
                    color: #666;
                    &:hover {
                        background: #2cc3a9;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    &:after {
        content: "";
        clear: both;
        display: block;
    }
    .product-comtainer {
        .flyer-upload {
            float: left;
            margin-right: 10px;
        }
    }
}

section.flyer-layout-content.big-content {
    margin-left: 58px;
}

.flyer-pager-view ul li {
    line-height: 24px;
    height: 24px;
    width: 30px;
    padding: 0;
    color: #666;
}

.flyer-input-block {
    margin-right: 0;
    padding-left: 66px;
}

.flyer-btn {
    margin-right: 10px;
    // float: left; by zhengpengfei i{i{
    i {
        color: #666;
    }
}

.flyer-table table {
    margin: 0!important;
}

.table-container {
    margin: 10px 0;
}

label.flyer-form-label {
    width: 56px;
    padding: 9px 0;
    font-size: 14px;
}

.flyer-form .flyer-input-block {
    padding-left: 66px;
}

.flyer-checkbox-tick input[type=checkbox] {
    display: none;
}

.flyer-checkbox-tick i {
    padding-left: 20px;
    position: relative;
    height: 18px;
    line-height: 18px;
}

.flyer-checkbox-tick input[type="checkbox"]:checked+i:after {
    content: "\2714";
    border: none;
    background: $green;
    color: #fff;
}

.flyer-checkbox-tick i:after {
    content: "";
    left: 0px;
    top: 0;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    z-index: 1;
    transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46), background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
    line-height: 16px;
    text-align: center;
}

header .login {
    color: #b8c3c9;
    font-size: 14px;
    min-width: 240px;
    display: inline-block;
    text-align: right;
}

header .login a {
    padding-left: 20px;
    margin-left: 20px;
    display: inline-block;
    font-size: 17px;
    border-left: 1px solid $headLine;
    height: 50px;
    line-height: 50px;
}

header .login a i {
    line-height: 50px;
    display: inline-block;
}

header .login a:hover {
    color: $green;
}

header .login {
    cursor: inherit;
}

.flyer-form .flyer-btn,
.flyer-form .flyer-input,
.flyer-form .flyer-select,
.flyer-form .flyer-textarea {
    cursor: inherit!important;
}

.flyer-btn.flyer-btn-default,
.flyer-form .flyer-input,
.flyer-form .flyer-select,
.flyer-form .flyer-textarea {
    cursor: inherit!important;
    color: #666;
}

.flyer-table table th {
    font-weight: bold;
    border-top: 1px solid $dd !important;
}

.flyer-table table thead {
    background-color: #fff;
}

.flyer-edit-content {
    height: 450px;
}

.flyer-edit-write {
    min-height: 100px;
}

.flyer-write-title {
    font-size: 14px;
    border-top: 1px dashed #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #888;
    margin-top: 20px;
}

.flyer-write-html {
    margin-left: 10px;
    line-height: 24px;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    color: #888;
}

.flyer-btn-blue {
    background: $green;
    border: 1px solid $green;
    color: #fff;
}

.flyer-layout-content .btn-container:nth-child(1) .paper-container,
.flyer-layout-content .paper-container.first {
    margin-top: 6px;
}

.flyer-table table td,
.flyer-table table th {
    padding: 6px 10px;
    border: 0px;
    border-bottom: 1px solid $dd;
    text-align: left;
}

.flyer-table table td {
    height: 34px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
    font-size: 13px;
}

.flyer-table table tr {
    cursor: pointer;
}

.flyer-table table tr td:first-child {
    overflow: inherit;
}

table {
    span.hoverCur {
        max-width: 124px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        line-height: 16px;
        float: left;
    }
    .exchange .fa {
        font-size: 12px;
        margin: 0 4px;
        color: #2cc3a9;
        width: 14px;
        display: inline-block;
        display: inline-block;
        float: left;
    }
    .span.exchange .rightIcon {
        float: right;
        margin: 2px 2px;
        cursor: pointer;
        color: #666;
    }
    .hoverCur {
        cursor: pointer;
    }
    tbody tr td:nth-child(2) {
        position: relative;
    }
    .emailNum {
        position: absolute;
        right: 50px;
        top: 5px;
    }
    span {
        cursor: pointer;
        height: 16px!important;
        color: #666;
    }
    td {
        color: #666;
    }
}

i.icon-unassigned.rightIcon,
i.icon-assigned.rightIcon {
    position: absolute;
    right: 6px;
    top: 8px;
    font-size: 14px!important;
}

i.icon-accessory.rightIcon {
    position: absolute;
    top: 7px;
    right: 30px;
    font-size: 14px!important;
}

.flyer-layout-previewTitle {
    margin-bottom: 12px;
    font-size: 12px;
    color: #666;
    .flyer-layout-blod {
        font-size: 15px;
        color: $green;
        margin-right: 6px;
        //    font-weight: bold;
    }
    .flyer-layout-allNum {
        display: inline-block;
        color: #333;
        margin: 0 2px;
    }
}

.flyer-combobox-items>ul>li>div:hover,
.hover {
    background-color: $green;
    color: #fff;
}

flyer-form .flyer-input:hover flyer-form .flyer-input:focus {
    border: 1px solid $green!important;
}

.flyer-form .flyer-input:hover,
.flyer-form .flyer-textarea:hover,
.flyer-form .flyer-edit:hover,
.flyer-form .flyer-combobox-contents:hover {
    border-color: $green!important;
}

.flyer-form .flyer-input:focus,
.flyer-form .flyer-select:focus,
.flyer-form .flyer-textarea:focus {
    border: 1px solid $green!important;
}

.flyer-table table .empty_title td {
    text-align: center;
}

.flyer-table tbody tr:hover {
    background-color: $greenHover!important;
}

.flyer-combobox-items li.selected:after {
    background-color: $green!important;
}

.flyer-table-checkbox {
    i:after {
        top: -2px!important;
    }
}

.flyer-dialog-footer button:last-child {
    color: #333!important;
    background-color: #fff!important;
    border-color: #ccc!important;
}

.flyer-dialog-footer button:first-child {
    background-color: $green!important;
    border-color: $green!important;
    color: #fff!important;
}

.flyer-combobox-items {
    max-height: 200px;
    overflow-y: auto;
    box-sizing: border-box;
    overflow-x: hidden;
    margin-top: -1px;
    &.open {
        border: 1px solid #dedede;
    }
}

.flyer-combobox-items>ul {
    border: none;
    overflow: initial;
    font-size: 14px;
    max-height: inherit;
}

.flyer-dialog .flyer-dialog-footer {
    border-top: 1px solid #eee;
}

.flyer-dialog .flyer-dialog-title {
    color: $green;
    font-size: 16px;
}

p.flyer-frame-attachment-item-dowload-link i:hover {
    color: $green;
    cursor: pointer;
}

tr.empty_container td {
    text-align: center;
}

input:-webkit-autofill {
    -webkit-text-fill-color: inherit!important;
}

.flyer-edit-write {
    min-height: 20px!important;
    word-break: break-all!important;
}

table span.mailAddress {
    width: 310px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    margin-top: 3px;
}

.loading-backgroud {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    left: 0px;
    top: 0px;
    i {
        color: $green;
    }
}

span.guid-entrance-icon {
    cursor: pointer;
    width: 20px;
    height: 50px;
    display: inline-block;
    font-size: 20px;
    line-height: 50px;
    margin-right: 20px;
    padding: 0 20px;
    position: initial !important;
    border-right: 1px solid $headLine;
    border-left: 1px solid $headLine;
}

div.guid-module {
    background: #000;
    opacity: 0.6;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
    left: 0px;
    top: 0px;
}

.guid-tooltips {
    position: absolute;
    padding: 10px;
    background-color: #fff;
    min-width: 200px;
    max-width: 300px;
    border-radius: 3px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .4);
    transition: opacity 0.1s ease-out;
    z-index: 1000;
}

.guid-bullets {
    text-align: center;
}

.guid-bullets ul {
    clear: both;
    margin: 15px auto 0;
    padding: 0;
    display: inline-block;
    li {
        list-style: none;
        float: left;
        margin: 0 2px;
        a {
            display: block;
            width: 6px;
            height: 6px;
            background: #ccc;
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            text-decoration: none;
        }
    }
}

.guid-arrow {
    border: 5px solid #fff;
    content: '';
    position: absolute;
    .top {
        top: -10px;
        border-top-color: rgba(0, 0, 0, 0);
        border-right-color: rgba(0, 0, 0, 0);
        border-bottom-color: #fff;
        border-left-color: rgba(0, 0, 0, 0);
    }
}

.guid-tooltipbuttons {
    text-align: right;
    white-space: nowrap;
}

.guid-button {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.3em 0.8em;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    font: 11px/normal sans-serif;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    zoom: 1;
    margin-top: 10px;
}

.guid-skipbutton {
    margin-right: 5px;
    color: #7a7a7a;
}

.guid-prevbutton {
    -webkit-border-radius: 0.2em 0 0 0.2em;
    -moz-border-radius: 0.2em 0 0 0.2em;
    border-radius: 0.2em 0 0 0.2em;
    border-right: none;
}

.guid-nextbutton {
    -webkit-border-radius: 0 0.2em 0.2em 0;
    -moz-border-radius: 0 0.2em 0.2em 0;
    border-radius: 0 0.2em 0.2em 0;
}

.guid-disabled,
.guid-disabled:hover,
.guid-disabled:focus {
    color: #9a9a9a;
    border-color: #d4d4d4;
    box-shadow: none;
    cursor: default;
    background-color: #f4f4f4;
    background-image: none;
    text-decoration: none;
}

.guid-arrow.top {
    top: -10px;
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-bottom-color: #fff;
    border-left-color: rgba(0, 0, 0, 0);
}

.slide-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    li {
        width: 94%;
        height: 100%;
        padding: 28px;
        position: absolute;
        padding-top: 0px;
        z-index: 1;
        display: none;
        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            border: none;
        }
    }
    .prev,
    .next {
        width: 28px;
        height: 40px;
        position: absolute;
        top: 42%;
        display: inline-block;
        font-size: 40px;
        cursor: pointer;
        color: #2cc3a9;
        z-index: 20;
    }
    .prev {
        left: 0px;
    }
    .next {
        right: 0px;
    }
    .prev.disabled,
    .next.disabled {
        color: #666;
        opacity: 0.8;
        cursor: inherit;
    }
    .guid-content {
        text-align: center;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
    }
    .circle-container {
        width: 100%;
        height: 20px;
        line-height: 20px;
        text-align: center;
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 30;
        span {
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            border: 1px solid #ddd;
        }
    }
}

.version-icon {
    cursor: pointer;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    .version-update {
        position: absolute;
        &:after {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #f27068;
            display: block;
            margin-left: 33px;
            margin-top: -6px;
        }
    }
}

aside {
    position: fixed;
    left: 0;
    top: 0;
}

div.mutiple-select {
    float: left;
    position: relative;
    bottom: 0px;
    padding: 0px;
    margin-right: 10px;
}

.btn-container .flyer-combobox-contents {
    width: 68px !important;
}

.flyer-btn.mutiple-select:hover {
    opacity: 1!important;
}

.btn-container .flyer-combobox-contents,
.btn-container .flyer-combobox-contents .filter-options,
.btn-container .flyer-combobox-contents i.fa {
    line-height: 29px;
    height: 29px;
}

// .send-email-orders {
//     height: 80%!important;
//     overflow-x: hidden;
//     overflow-y: scroll;
// }
.flyer-onswitch {
    cursor: pointer;
    position: relative;
    display: inline-block;
    input[type="checkbox"] {
        display: none;
        &+i {
            position: relative;
            background-color: #ccc;
            height: 19px;
            min-width: 40px;
            bottom: 0px;
            border-radius: 10px;
            display: inline-block;
            transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
            top: 5px;
            &:after {
                content: "";
                position: absolute;
                background-color: #fafafa;
                height: 17px;
                width: 18px;
                border-radius: 8px;
                left: 1px;
                top: 1px;
                transition: .4s;
            }
        }
    }
    input[type="checkbox"]:checked+i {
        background-color: $green!important;
        &:after {
            content: "";
            position: absolute;
            background-color: #fafafa;
            right: 1px!important;
            top: 1px;
            left: inherit!important;
        }
    }
    span:first-child {
        float: left;
        color: #fff;
        margin-left: 4px;
        margin-right: 2px;
        line-height: 19px;
    }
    span:last-child {
        float: right;
        color: #fff;
        margin-right: 4px;
        margin-left: 2px;
        line-height: 19px;
    }
}

.flyer-input {
    height: 30px;
    line-height: 30px;
    line-height: 30px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 2px;
    padding-left: 10px;
    outline: none;
    &:hover {
        border-color: #2cc3a9 !important;
    }
    &:focus {
        border: 1px solid #2cc3a9 !important;
    }
}

#myFolderUl {
    li {
        padding-left: 46px;
        font-size: 13px;
        line-height: 24px;
        color: #777;
        &:hover {
            color: $green;
            cursor: pointer;
        }
    }
}

li.flyer-tab-active {
    color: $green;
}

// .flyer-tab-content .flyer-tab-item:first-child{
//     display: block;
// }
.flyer-combobox-items>ul>li div {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div#original-content {
    word-wrap: break-word;
}

.not_link a.flyer-layout-link {
    padding-left: 0px;
}

.edit_folder,
.delete_folder {
    cursor: pointer;
}

.edit_folder {
    margin-right: 4px;
}

.flyer-form .flyer-radio input[type=radio]:checked+i:after {
    background: $green;
}

.flyer-form .flyer-radio input[type=radio]:checked+i {
    border: 1px solid $green;
}

.flyer-combobox-items {
    z-index: 5!important;
}

.myFolderUl {
    li {
        padding-left: 46px;
        font-size: 13px;
        line-height: 20px;
        color: #999;
        &:hover {
            color: $green;
            cursor: pointer;
        }
    }
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

div.mutiple-select,
section.flyer-layout-content .btn-container button {
    height: 32px;
    box-sizing: border-box;
}

.flyer-layout-aside .myFolderUl .flyer-layout-link {
    height: inherit;
    font-size: inherit;
}

.newFolder li[data-key='add'] {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 80%;
        top: 0;
        height: 1px;
        background-color: #ddd;
        left: 10px;
    }
}

.flyer-layout-aside .flyer-layout-link i.icon-unfinish,
.flyer-layout-aside .flyer-layout-link i.icon-my-folder,
.flyer-layout-aside .flyer-layout-link i.icon-email-send-abnormal {
    font-size: 12px!important;
    display: inline-block;
}

.flyer-layout-aside .flyer-layout-link i.icon-finish,
.flyer-layout-aside .flyer-layout-link i.icon-receiving-rules,
.flyer-layout-aside .flyer-layout-link i.icon-sensitive-word,
.flyer-layout-aside .flyer-layout-link i.icon-send {
    font-size: 15px!important;
    display: inline-block;
}

[class^="icon-"],
[class*=" icon-"] {
    font-size: 16px;
}

.flyer-form-item .flyer-input {
    font-size: 14px!important;
}

.flyer-table [class^="icon-"] {
    font-size: 14px;
}

#bodyTable tbody,
#bodyTable table,
#bodyTable tbody tr,
td#bodyCell {
    width: 100%!important;
}

center.wrapper,
center.wrapper .webkit {
    overflow: hidden;
}

#bodyTable * {
    max-width: 600px!important;
    word-wrap: break-word;
}

.flyer-combobox-items>ul>li div {
    padding-right: 20px;
}

.flyer-combobox-items li.selected:after {
    top: 10px;
}

.select-tick .flyer-combobox-items li.selected:after {
    background-color: transparent!important;
    color: #2cc3a9!important;
}

.select-tick .flyer-combobox-items li.selected:after {
    content: "\2714";
    width: inherit;
    height: inherit;
    border-radius: 0;
    background-color: transparent!important;
    right: 3px;
    font-size: 15px;
    top: 4px;
    color: #fff;
}

.nav-top span.group-name {
    color: #2cc3a9;
}

ul.myFolderUl {
    max-height: 100px;
    overflow-y: auto;
}

.flyer-date {
    z-index: 99999
}

.flyer-tab-content {
    min-height: 550px;
}

.flyer-combobox-contents {
    bottom: 0px!important;
}

button#advancedSearchBtn {
    border-color: #dedede;
}

.flyer-combobox-contents i.fa {
    right: 1px;
}

.flyer-combobox-contents .filter-options {
    border: 0;
}

.flyer-btn.mutiple-select {
    border: none;
}

.flyer-combobox-contents {
    height: 30px!important;
}

.flyer-layout-sendEmail .emailBox .flyer-combobox-contents {
    height: 36px !important;
}

.attachment_img {
    display: inline-block;
    width: 100%;
    height: auto;
}

.creat-rules .flyer-combobox-contents {
    height: 32px !important;
}

.creat-rules .flyer-input {
    height: 32px;
}

#addFormContianer .flyer-combobox-contents {
    height: 36px !important;
}

span.top-untreated-num {
    margin-left: 6px;
    padding: 0 6px;
    height: 22px;
    line-height: 22px;
    background: $green;
    border-radius: 12px;
    display: inline-block;
    color: #fff;
}

span.top-untreated {
    padding-right: 20px;
    display: inline-block;
    cursor: pointer;
    &:hover {
        color: $green;
    }
}

.flyer-layout-aside .flyer-layout-tree {
    margin-top: 84px;
    background-color: #f6f9fa;
    color: #666;
    padding-top: 35px;
    i {
        color: #666;
    }
}

p.tree-shrink {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 84px;
    width: 180px;
    text-align: center;
    color: #666;
    border-bottom: 1px solid #eee;
    height: 30px;
    line-height: 30px;
    background: #f6f9fa;
    cursor: pointer;
    i.fa.fa-bars {
        color: #b6c1c7;
        font-size: 14px;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }
}

p.tree-shrink.transform-shrink {
    width: 58px;
    i.fa.fa-bars {
        font-size: 14px;
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
}

.flyer-layout-tree.small-tree {
    width: 58px;
    .flyer-layout-link {
        overflow: hidden;
        [class^="icon-"] {
            margin-right: 20px;
        }
    }
    .myFolderUl {
        display: none!important;
    }
}

body.bg {
    background: #f5faf9!important;
}

.flyer-email-recored {
    display: none;
    position: relative;
}

.flyer-preview {
    display: inline-block;
    width: 100%;
    height: 99%;
}

#coverOrder {
    position: fixed;
    right: 0;
    bottom: 31px;
    width: 32%;
    height: 10px;
    background: #fff;
}

.flyer-edit {
    border: 1px solid #eee !important;
}

.flyer-combobox-items>ul>li {
    color: #666;
}

span#nomatch {
    color: #666;
}

.btn-right {
    float: right;
}

td .complaint {
    color: #000;
    position: inherit;
    margin-right: 4px;
    font-size: 14px !important;
}

td .icon-customer-complaint.complaint-no {
    color: #666;
    position: inherit;
    margin-right: 4px;
    font-size: 14px !important;
}

td .icon-customer-complaint-black.complaint {
    color: #666;
}

.flyer-checkbox-radio {
    cursor: pointer;
    padding-right: 26px;
    display: inline-block;
    input[type="radio"] {
        display: none;
    }
    input[type="radio"]+i {
        display: inline-block;
        padding: 0 6px;
        height: 28px;
        line-height: 28px;
        font-size: 14px;
        background-color: #d2d2d2;
        color: #fff;
        position: relative;
    }
    input[type="radio"]:checked+i {
        background-color: $green;
        transition: .1s;
    }
    input[type="radio"]+i:after {
        content: "\2714";
        position: absolute;
        right: -24px;
        width: 24px;
        height: 28px;
        color: #d2d2d2;
        font-size: 20px;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid #d2d2d2;
    }
    input[type="radio"]:checked+i:after {
        color: $green;
        border: 1px solid $green;
        transition: .1s;
    }
}

textarea.flyer-input {
    font-family: Arial, Console, Verdana, Courier New!important;
}

.flyer-pager-view .active {
    color: $green;
}

.flyer-tab-ul .tab-bubble {
    font-size: 12px;
    color: #fff;
    padding-left: 0;
    margin-left: 5px;
    display: inline-block;
    padding: 0 6px;
    height: 18px;
    background-color: #2cc3a9;
    line-height: 18px;
    text-align: center;
    border-radius: 10px;
    margin-left: 14px;
    margin-top: 6px;
}

.language-manage .flyer-form-label {
    padding: 0px;
}

.language-manage input:not(.filter-options) {
    width: 74%!important;
}

.dialog-form-container-language {
    width: 74%!important;
    input {
        width: 100%!important;
    }
}

.i18n-container.flyer-btn input {
    height: 26px;
    line-height: 26px;
    top: -5px;
    position: relative;
    width: 100%;
    padding: 0 6px;
    background: transparent;
    color: #fff;
}

.i18n-container.flyer-btn .fa.fa-angle-down {
    height: 26px;
    line-height: 26px;
    top: -1px;
    right: 0px;
}

.i18n-container .flyer-combobox-contents {
    height: 26px !important;
    box-sizing: border-box;
    border: none;
}

.i18n-container .flyer-combobox-contents i.fa {
    height: 26px;
    line-height: 26px;
    width: 22px!important;
    background: transparent;
    color: #fff;
}

.i18n-container.flyer-btn:hover {
    opacity: 1;
}

.i18n-container .flyer-combobox-items.open {
    background-color: #23292d;
    border: none;
}

.i18n-container .flyer-combobox-items>ul>li div {
    color: #fff;
    line-height: 20px;
    height: 20px;
}

.i18n-container .flyer-combobox-items li.selected:after {
    top: 6px;
}

.dialog-form-container div.mutiple-select {
    padding-left: 10px;
}

@media screen and (max-width:1700px) {
    #flyer-date-orderTimeEmail {
        left: inherit!important;
        right: 10px!important;
    }
}

@media screen and (max-width: 1500px) {
    #flyerEmailDetailTab .flyer-tab-title>ul>li {
        padding: 0 10px;
    }
}

@media screen and (max-width: 1330px) {
    #flyerEmailDetailTab .flyer-tab-title>ul>li {
        padding: 0 6px;
    }
}

@media screen and (max-width: 1240px) {
    .flyer-table {
        width: 100%!important;
    }
    #flyerEmailDetailTab .flyer-tab-title>ul>li {
        font-size: 12px;
    }
}

@media screen and (max-width: 1100px) {
    #flyerEmailDetailTab .flyer-tab-title>ul>li {
        padding: 0 2px;
    }
}

@media screen and (max-width:760px) {
    .flyer-edit-content {
        height: 250px;
    }
    .flyer-layout-sendEmail .flyer-layout-submitBox {
        padding-top: 0px;
    }
}

#ASIN,
#SKU {
    margin-left: 10px;
    display: inline-block;
    width: 346px!important;
}

#productName {
    width: 346px!important;
}

input#keyword {
    width: 447px;
}

.customer-advanced-search {
    div#storeSelectContainer,
    div#productTypeSelect,
    div#productGroupSelect,
    div#countriesSelect,
    div#questionTypeSelect,
    div#resolveMethodSelect {
        width: 456px;
    }
}

.customer-complaint-history {
    #ASIN,
    #SKU,
    #productName {
        margin-left: 0;
        display: inline-block;
        width: 60%!important;
    }
}

.receiving-rules i.table-btn {
    width: 62px;
}

.flyer-date {
    position: fixed;
}