.flyer-element-tips.flyer-layout-domain {
  border-left: none;
  border-radius: 6px;
  width: 100%;
  background-color: #fff;
  padding-top: 0;
  padding: 0; }
  .flyer-element-tips.flyer-layout-domain b {
    font-weight: bolder; }
  .flyer-element-tips.flyer-layout-domain .flyer-form-item {
    margin-left: 66px;
    margin-top: 20px; }
    .flyer-element-tips.flyer-layout-domain .flyer-form-item input {
      padding-left: 56px;
      box-sizing: border-box;
      display: inline-block;
      width: 80%;
      border-radius: 4px; }
  .flyer-element-tips.flyer-layout-domain .add_account_commit {
    padding-left: 0px; }

@media screen and (max-width: 1240px) {
  .flyer-element-tips.flyer-layout-domain .flyer-form-item input {
    width: 100%; } }
