section.flyer-layout-content {
  min-height: 420px !important; }

.flyer-layout-loginMessage {
  width: 80%;
  min-height: 400px; }
  .flyer-layout-loginMessage .flyer-input-inline {
    width: 100%;
    padding-left: 66px;
    box-sizing: border-box; }
  .flyer-layout-loginMessage .flyer-form-item {
    clear: none; }
    .flyer-layout-loginMessage .flyer-form-item .add_account_commit {
      padding-left: 14px;
      width: 100%;
      margin-left: 52px;
      margin-top: 30px; }
    .flyer-layout-loginMessage .flyer-form-item:nth-child(1) {
      width: 40%;
      float: left; }
    .flyer-layout-loginMessage .flyer-form-item:nth-child(2) {
      width: 60%;
      float: left; }
      .flyer-layout-loginMessage .flyer-form-item:nth-child(2) .flyer-input-domain {
        padding-left: 42px; }
      .flyer-layout-loginMessage .flyer-form-item:nth-child(2) label {
        width: 30px;
        font-size: 16px; }
    .flyer-layout-loginMessage .flyer-form-item:nth-child(3) {
      clear: both; }
  .flyer-layout-loginMessage label {
    width: 56px;
    text-align: right;
    margin-right: 0px;
    margin-right: 10px;
    padding: 9px 0; }
  .flyer-layout-loginMessage .flyer-input {
    width: 100%;
    float: left; }

@media screen and (max-width: 1240px) {
  .flyer-layout-loginMessage {
    width: 100%; } }
