/*** Parameters ***/
.change-email .flyer-input-block span {
  display: inline-block;
  width: 110px;
  text-align: right;
  margin-right: 2px; }

.change-email .flyer-form {
  margin-right: 0; }
  .change-email .flyer-form .flyer-input {
    display: inline-block;
    width: 350px;
    height: 34px;
    line-height: 34px; }
  .change-email .flyer-form .flyer-input-block {
    padding-left: 0;
    margin-bottom: 8px; }

.change-email h5 {
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px;
  color: #333; }

.change-email .change-email-h5 {
  margin-top: 16px; }

.change-email .flyer-radio {
  margin-left: 156px;
  margin-bottom: 6px; }
  .change-email .flyer-radio + span {
    display: inline-block;
    line-height: 20px; }

.change-email .flyer-input-block select {
  display: inline-block !important; }

.change-email .change-email-otrherSend {
  margin-top: 10px;
  padding-left: 50px; }
  .change-email .change-email-otrherSend .flyer-input {
    width: 235px; }
  .change-email .change-email-otrherSend span {
    margin-right: 0px;
    font-size: 13px; }
