/*** Parameters ***/
.change-signs-contant .change-signs-groups {
  overflow: hidden;
  max-width: 1000px;
  min-width: 400px; }

.change-signs-contant .change-signs-group {
  width: 31%;
  margin: 1%;
  border: 1px solid #dcdcdc;
  float: left;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 15px;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  color: #666; }
  .change-signs-contant .change-signs-group:hover {
    border-color: #2cc3a9;
    color: #2cc3a9; }
  .change-signs-contant .change-signs-group.active {
    background-color: #2cc3a9;
    color: #fff; }

.change-signs-contant .change-signs-note {
  font-size: 12px;
  padding-left: 12px; }
  .change-signs-contant .change-signs-note i {
    color: #2cc3a9;
    margin-right: 3px; }
