/*** Parameters ***/
.flyer-sensitive-contant {
  min-height: 300px; }
  .flyer-sensitive-contant .flyer-form {
    margin-right: 0 !important; }
  .flyer-sensitive-contant label.flyer-form-label {
    width: 38px;
    padding: 0;
    height: 31px;
    line-height: 31px; }
  .flyer-sensitive-contant .flyer-combobox-contents i.fa,
  .flyer-sensitive-contant .flyer-combobox-contents .filter-options,
  .flyer-sensitive-contant .flyer-combobox-contents,
  .flyer-sensitive-contant .flyer-form .flyer-input {
    height: 30px;
    line-height: 30px; }
  .flyer-sensitive-contant .flyer-form .flyer-input {
    border: 1px solid #dedede;
    height: 31px;
    line-height: 31px; }

#showResult span:first-child {
  font-size: 15px;
  display: inline-block; }

.flyer-form-sensitive.flyer-form .flyer-input {
  width: 300px;
  display: inline-block;
  height: 32px;
  margin-right: 10px;
  line-height: 32px; }

.flyer-form-sensitive.flyer-form .flyer-input-block {
  padding-left: 0; }

.flyer-search-result {
  height: 32px;
  line-height: 32px;
  margin-bottom: 16px; }

.flyer-sensitive-tips {
  padding-top: 0px; }
  .flyer-sensitive-tips .flyer-sensitive-tip {
    min-width: 40px;
    float: left;
    padding: 25px 14px;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    border: 1px solid #ddd;
    position: relative;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 2px; }
    .flyer-sensitive-tips .flyer-sensitive-tip i {
      position: absolute;
      top: 0;
      display: none;
      color: #666; }
      .flyer-sensitive-tips .flyer-sensitive-tip i.fa-pencil {
        right: 22px; }
      .flyer-sensitive-tips .flyer-sensitive-tip i.fa-times-circle {
        right: 4px; }
    .flyer-sensitive-tips .flyer-sensitive-tip:hover {
      border: 1px solid #2cc3a9; }
      .flyer-sensitive-tips .flyer-sensitive-tip:hover i {
        display: inline-block;
        cursor: pointer;
        color: #666; }
        .flyer-sensitive-tips .flyer-sensitive-tip:hover i:hover {
          color: #2cc3a9; }
    .flyer-sensitive-tips .flyer-sensitive-tip p {
      cursor: pointer;
      margin: 0;
      width: inherit;
      text-align: center; }
  .flyer-sensitive-tips .flyer-sensitive-tip.flyer-click {
    background: #2cc3a9;
    color: #fff; }
    .flyer-sensitive-tips .flyer-sensitive-tip.flyer-click i:hover {
      color: #fff !important; }
  .flyer-sensitive-tips #add {
    border: 1px dashed #2cc3a9;
    cursor: pointer;
    height: 72px;
    width: 72px;
    /*padding: 0 14px;*/
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0; }
    .flyer-sensitive-tips #add:hover {
      background: #fff;
      border: 1px solid #2cc3a9; }
    .flyer-sensitive-tips #add i {
      color: #2cc3a9;
      right: 16px;
      top: 15px;
      font-size: 36px;
      display: inline-block; }

#typeContainer .flyer-combobox-items {
  max-height: 120px; }

.flyer-sensitive-no {
  border: 1.5px dashed #dedede;
  width: 80%;
  padding: 240px 0;
  color: #666;
  font-size: 16px;
  text-align: center;
  border-radius: 2px; }
  .flyer-sensitive-no div {
    display: inline-block;
    font-size: 48px;
    color: #2cc3a9;
    cursor: pointer;
    margin-bottom: 6px; }
    .flyer-sensitive-no div i {
      font-size: 42px; }
  .flyer-sensitive-no div:first-child {
    margin-right: 64px; }

.flyer-sensitive-contant #showResult {
  margin-bottom: 16px; }

.flyer-sensitive-contant .flyer-form-item {
  width: 55%;
  padding-left: 36px;
  position: relative;
  box-sizing: border-box;
  margin-right: 6px;
  margin-bottom: 6px;
  min-width: 400px;
  max-width: 600px; }
  .flyer-sensitive-contant .flyer-form-item label {
    position: absolute;
    left: 0; }
  .flyer-sensitive-contant .flyer-form-item .flyer-input-inline {
    width: 100%; }
