* {
  margin: 0; }

a {
  text-decoration: none; }

.access-right {
  text-align: center;
  overflow: hidden;
  margin-top: 140px;
  margin: 150px auto 0;
  max-width: 592px; }
  .access-right .access-right-leftimg {
    float: left; }
  .access-right .access-right-rightbox {
    float: left;
    margin-left: 50px;
    text-align: left;
    margin-top: 50px; }
    .access-right .access-right-rightbox p {
      text-align: left;
      font-size: 20px;
      color: #aeaeae;
      margin-bottom: 20px !important; }
  .access-right .access-right-bottom {
    margin-top: 10px;
    border-top: 2px dotted #ddd; }
