/*** Parameters ***/
.creat-rules .creat-rules-right,
.creat-rules .creat-rules-if,
.creat-rules .flyer-input-inline {
  display: inline-block; }

.creat-rules .flyer-layout-previewTitle span {
  user-select: none; }

.creat-rules .creat-rules-if span {
  width: 84px;
  display: inline-block;
  user-select: none; }

.creat-rules .flyer-onswitch input[type=checkbox] + i:after {
  left: 1px; }

.creat-rules .creat-rules-onswitch.flyer-onswitch input[type=checkbox] + i {
  width: 126px; }

.creat-rules .creat-rules-onswitch.flyer-onswitch input[type=checkbox] + i:after {
  width: 62px !important; }

.creat-rules .creat-rules-onswitch.flyer-onswitch.creat-rules-doswitch input[type=checkbox] + i {
  width: 200px; }

.creat-rules .creat-rules-onswitch.flyer-onswitch.creat-rules-doswitch input[type=checkbox] + i:after {
  width: 98px !important; }

.creat-rules .creat-rules-box {
  line-height: 34px;
  margin-bottom: 10px;
  clear: both; }
  .creat-rules .creat-rules-box .creat-rules-title {
    float: left;
    width: 126px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    user-select: none; }

.creat-rules .creat-rules-choose {
  margin-bottom: 6px; }
  .creat-rules .creat-rules-choose:last-child {
    margin-bottom: 0px; }
  .creat-rules .creat-rules-choose span {
    user-select: none; }

.creat-rules .flyer-combobox {
  display: inline-block; }

.creat-rules .flyer-combobox-contents .filter-options,
.creat-rules .flyer-combobox-contents,
.creat-rules .flyer-combobox-contents i.fa {
  height: 32px;
  line-height: 32px; }

.creat-rules .creat-rules-span {
  width: inherit !important; }

.creat-rules .flyer-layout-blod {
  width: 136px;
  display: inline-block; }

.creat-rules .flyer-edit-content {
  height: 150px !important; }

.creat-rules .flyer-input-block {
  padding-left: 135px; }

.creat-rules .flyer-edit-tool span:last-child i::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff; }
