/*** Parameters ***/
.email_detail_two {
  position: relative;
  height: 100%; }
  .email_detail_two .flyer-edit-tool {
    background-color: #fff; }
  .email_detail_two .email_detal_title {
    font-size: 15px;
    color: #333;
    font-weight: bold;
    margin-bottom: 0;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    position: absolute;
    top: -10px;
    background: #f6f9fa;
    border: 1px solid #eee;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden; }
  .email_detail_two .detail_two_item {
    position: relative;
    padding: 0 60px;
    margin-bottom: 20px;
    padding-right: 16%; }
    .email_detail_two .detail_two_item:last-child {
      margin-bottom: 4px; }
    .email_detail_two .detail_two_item .fa-long-arrow-right {
      color: #2cc3a9 !important; }
  .email_detail_two .detail_two_left {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #999; }
    .email_detail_two .detail_two_left i {
      color: #999;
      font-size: 16px;
      line-height: 26px;
      text-align: center; }
  .email_detail_two .detail_two_item.myself {
    padding-right: 60px;
    padding-left: 16%; }
    .email_detail_two .detail_two_item.myself .detail_two_right {
      border: 1px solid #2cc3a9; }
    .email_detail_two .detail_two_item.myself .detail_two_accessory {
      background: #2cc3a9;
      padding-right: 20px; }
      .email_detail_two .detail_two_item.myself .detail_two_accessory div {
        color: #fff; }
        .email_detail_two .detail_two_item.myself .detail_two_accessory div:last-child {
          border-bottom: none; }
        .email_detail_two .detail_two_item.myself .detail_two_accessory div p, .email_detail_two .detail_two_item.myself .detail_two_accessory div i {
          color: #fff; }
    .email_detail_two .detail_two_item.myself .fa-long-arrow-right {
      color: #fff !important; }
    .email_detail_two .detail_two_item.myself .detail_two_right::after {
      left: inherit;
      right: -7px;
      border-top: 1px solid #2cc3a9;
      border-right: 1px solid #2cc3a9;
      border-bottom: none;
      border-left: none; }
    .email_detail_two .detail_two_item.myself .detail_two_left {
      left: inherit;
      right: 10px;
      border-color: #2cc3a9; }
      .email_detail_two .detail_two_item.myself .detail_two_left i {
        color: #2cc3a9; }
  .email_detail_two .detail_two_right {
    width: 99.50%;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    position: relative; }
    .email_detail_two .detail_two_right::after {
      content: "";
      width: 12px;
      height: 12px;
      border: 1px solid #dcdcdc;
      background: #fff;
      z-index: 0;
      position: absolute;
      left: -7px;
      top: 24px;
      border-top: 0px;
      border-right: 0px;
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg); }
  .email_detail_two .detail_two_accessory {
    background: #f5f5f5;
    font-size: 14px;
    overflow: hidden;
    padding: 0 20px; }
    .email_detail_two .detail_two_accessory div {
      height: 32px;
      line-height: 32px;
      border-bottom: 1px solid #ddd;
      overflow: hidden; }
      .email_detail_two .detail_two_accessory div:last-child {
        border-bottom: none; }
    .email_detail_two .detail_two_accessory p {
      max-width: 70%;
      white-space: nowrap;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      overflow: hidden;
      float: left; }
    .email_detail_two .detail_two_accessory i {
      margin-left: 8px;
      color: #666;
      font-size: 13px;
      float: left;
      line-height: 32px;
      width: 15px;
      text-align: center; }
      .email_detail_two .detail_two_accessory i:hover {
        color: #2cc3a9;
        font-size: 15px;
        width: 15px;
        text-align: center;
        cursor: pointer; }
  .email_detail_two .detail_two_text {
    padding: 25px 20px;
    line-height: 20px;
    word-wrap: break-word;
    color: #666; }
  .email_detail_two .detail_two_send {
    position: absolute;
    right: 0;
    width: 100%;
    bottom: -10px; }
    .email_detail_two .detail_two_send .flyer-input-block {
      margin-right: 0;
      padding-left: 0; }
    .email_detail_two .detail_two_send .flyer-edit-content {
      height: 150px; }
  .email_detail_two .flyer-frame-footBtn {
    background: #fff;
    border: 1px solid #eee;
    border-top: none;
    padding: 10px;
    overflow: hidden; }
    .email_detail_two .flyer-frame-footBtn .flyer-btn {
      float: left; }
    .email_detail_two .flyer-frame-footBtn .right {
      float: right; }
      .email_detail_two .flyer-frame-footBtn .right .flyer-btn:last-child {
        margin-right: 0; }
  .email_detail_two .detail_two_contact {
    overflow: auto;
    padding-top: 38px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding-bottom: 10px;
    position: relative; }
  .email_detail_two .email-text-link {
    text-decoration: underline;
    color: #888; }
  .email_detail_two .just-email-address {
    position: absolute;
    z-index: 99;
    bottom: 8px;
    padding: 8px;
    min-width: 400px;
    width: 50%; }
