/*** Parameters ***/
.flyer-layout-sendEmail, .flyer-frame-Box {
  float: left;
  width: 100%;
  min-width: 300px; }
  .flyer-layout-sendEmail .flyer-combobox-contents, .flyer-frame-Box .flyer-combobox-contents {
    border: 1px solid #dedede; }
  .flyer-layout-sendEmail .flyer-form-item, .flyer-frame-Box .flyer-form-item {
    margin-bottom: 0;
    margin-top: 10px; }
    .flyer-layout-sendEmail .flyer-form-item:first-child, .flyer-frame-Box .flyer-form-item:first-child {
      margin-top: 0; }
  .flyer-layout-sendEmail .flyer-form-label, .flyer-frame-Box .flyer-form-label {
    width: 56px;
    padding: 0;
    height: 38px;
    line-height: 38px;
    font-weight: bold; }
  .flyer-layout-sendEmail-orders, .flyer-frame-Box-orders {
    float: left;
    width: 19.99999%;
    min-width: 200px;
    border-left: 1px solid #dddddd; }
  .flyer-layout-sendEmail .flyer-form, .flyer-frame-Box .flyer-form {
    width: 77%;
    float: left;
    margin-right: 0px; }
    .flyer-layout-sendEmail .flyer-form .flyer-layout-label, .flyer-frame-Box .flyer-form .flyer-layout-label {
      padding: 9px 0;
      width: 56px; }
    .flyer-layout-sendEmail .flyer-form .flyer-btn-normal, .flyer-frame-Box .flyer-form .flyer-btn-normal {
      background: #ddd; }
  .flyer-layout-sendEmail .send-email-orders, .flyer-frame-Box .send-email-orders {
    height: 100%;
    width: 20%;
    border-left: 1px solid #dcdcdc;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    float: right;
    position: absolute;
    right: 0;
    overflow-y: auto;
    top: 0;
    padding-top: 110px;
    padding-bottom: 50px; }
    .flyer-layout-sendEmail .send-email-orders h4, .flyer-frame-Box .send-email-orders h4 {
      font-size: 15px;
      font-weight: bold;
      text-align: left;
      height: 26px;
      line-height: 26px;
      margin-bottom: 14px;
      padding-bottom: 8px;
      color: #2cc3a9; }
    .flyer-layout-sendEmail .send-email-orders .sendEmail-orders-title, .flyer-frame-Box .send-email-orders .sendEmail-orders-title {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #333; }
    .flyer-layout-sendEmail .send-email-orders .sendEmail-orders-detail, .flyer-frame-Box .send-email-orders .sendEmail-orders-detail {
      line-height: 18px;
      margin-bottom: 6px;
      color: #666; }
    .flyer-layout-sendEmail .send-email-orders .sendEmail-orders-text, .flyer-frame-Box .send-email-orders .sendEmail-orders-text {
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 1px solid #dcdcdc;
      margin-bottom: 16px;
      display: none; }
      .flyer-layout-sendEmail .send-email-orders .sendEmail-orders-text:last-child, .flyer-frame-Box .send-email-orders .sendEmail-orders-text:last-child {
        border-bottom: none; }
      .flyer-layout-sendEmail .send-email-orders .sendEmail-orders-text div, .flyer-frame-Box .send-email-orders .sendEmail-orders-text div {
        line-height: 20px;
        color: #666; }
        .flyer-layout-sendEmail .send-email-orders .sendEmail-orders-text div span, .flyer-frame-Box .send-email-orders .sendEmail-orders-text div span {
          color: #999;
          word-break: break-all; }
      .flyer-layout-sendEmail .send-email-orders .sendEmail-orders-text .sendEmail-orders-detail,
      .flyer-layout-sendEmail .send-email-orders .sendEmail-orders-text .sendEmail-orders-price, .flyer-frame-Box .send-email-orders .sendEmail-orders-text .sendEmail-orders-detail,
      .flyer-frame-Box .send-email-orders .sendEmail-orders-text .sendEmail-orders-price {
        width: 100%;
        word-break: break-all; }
      .flyer-layout-sendEmail .send-email-orders .sendEmail-orders-text .sendEmail-orders-price, .flyer-frame-Box .send-email-orders .sendEmail-orders-text .sendEmail-orders-price {
        margin-bottom: 4px; }
        .flyer-layout-sendEmail .send-email-orders .sendEmail-orders-text .sendEmail-orders-price span, .flyer-frame-Box .send-email-orders .sendEmail-orders-text .sendEmail-orders-price span {
          color: #2cc3a9;
          font-size: 14px; }
    .flyer-layout-sendEmail .send-email-orders .sendEmail-orders-more, .flyer-frame-Box .send-email-orders .sendEmail-orders-more {
      display: none;
      margin-top: 20px;
      text-align: center; }
      .flyer-layout-sendEmail .send-email-orders .sendEmail-orders-more a, .flyer-frame-Box .send-email-orders .sendEmail-orders-more a {
        color: #999; }
        .flyer-layout-sendEmail .send-email-orders .sendEmail-orders-more a:hover, .flyer-frame-Box .send-email-orders .sendEmail-orders-more a:hover {
          color: #2cc3a9;
          cursor: pointer; }
  .flyer-layout-sendEmail .flyer-layout-submitBox, .flyer-frame-Box .flyer-layout-submitBox {
    padding-top: 20px; }

.flyer-layout-otherBtn,
.flyer-input-block {
  min-height: 22px !important; }
  .flyer-layout-otherBtn > a,
  .flyer-input-block > a {
    margin-right: 10px; }
    .flyer-layout-otherBtn > a i,
    .flyer-input-block > a i {
      margin-right: 2px; }
    .flyer-layout-otherBtn > a span,
    .flyer-input-block > a span {
      display: inline-block;
      padding: 5px; }
    .flyer-layout-otherBtn > a span:hover,
    .flyer-input-block > a span:hover {
      background-color: #dddddd;
      cursor: pointer; }
  .flyer-layout-otherBtn > a:after,
  .flyer-input-block > a:after {
    content: "";
    border-right: 1px solid #dddddd;
    margin-left: 10px; }
  .flyer-layout-otherBtn > a:last-child::after,
  .flyer-input-block > a:last-child::after {
    border-right: none; }

@media screen and (max-width: 1240px) {
  .send-email .flyer-form .flyer-input-block {
    float: left;
    width: 100%;
    padding-left: 66px;
    box-sizing: border-box; } }

.attachments {
  width: 300px;
  height: 32px;
  border: 1px solid #ddd;
  text-align: left;
  line-height: 32px;
  padding: 0 20px;
  padding-right: 40px;
  margin-bottom: 6px;
  margin-left: 6px;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  margin-left: 6px;
  white-space: nowrap;
  color: #666; }
  .attachments i.fa-eye {
    font-size: 13px; }
    .attachments i.fa-eye:hover {
      color: #2cc3a9; }
  .attachments .icon-remove {
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    position: absolute;
    right: 5px;
    top: 10px; }
    .attachments .icon-remove:hover {
      color: #2cc3a9; }

.temp {
  height: 50px;
  border: 1px solid #ececec;
  cursor: pointer;
  padding: 16px;
  border-radius: 2px;
  position: relative;
  margin-bottom: 8px; }
  .temp:hover {
    background: #f6f9fa; }
  .temp i {
    font-size: 26px;
    float: right;
    position: absolute;
    right: 18px;
    top: 12px;
    display: none; }
  .temp .active {
    display: inline;
    color: #2cc3a9; }
  .temp h2 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .temp .template-content {
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999; }
  .temp .template-attachment {
    position: absolute;
    right: 10px;
    bottom: 12px;
    color: #333; }
  .temp h2 span {
    font-weight: bolder; }
  .temp .fa-paperclip {
    margin-left: 6px;
    display: inline-block; }

span#saveTempMail {
  cursor: pointer !important; }

.flyer-edit-tool span:last-child i {
  position: relative; }
  .flyer-edit-tool span:last-child i::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #f27068;
    display: block;
    margin-left: 22px;
    margin-top: -26px; }

@media screen and (max-height: 1280px) {
  .flyer-edit {
    min-width: 300px !important; } }

@media screen and (max-width: 1100px) {
  .flyer-write-title {
    font-size: 12px !important; } }
