/*** Parameters ***/
#filesTable {
  margin-top: 10px; }
  #filesTable i {
    color: #666; }
    #filesTable i:hover {
      color: #2cc3a9; }
  #filesTable .delect-file-btn {
    float: right;
    font-size: 13px;
    margin-top: 2px; }
